# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=dev
POSTGRES_DB=tasks
DATABASE_URL=postgres://postgres:dev@localhost:5432/$POSTGRES_DB

# Redis
REDIS_URL=redis://localhost:6379

# Server (Choose Database Type)
PORT=3000
DATABASE_TYPE=postgres
# DATABASE_TYPE=sqlite

# Supabase
SUPABASE_URL=https://********************.supabase.co
SUPABASE_KEY=YOUR_ANON_KEY